<html>
    <!-- Head tag -->
    <%- partial('_partial/head') %>
<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>
    <%- body %>
    <br>
    <br>
    <br>
    <br>
    <%- js('bootstrap/js/bootstrap2.min.js') %>
    <%- js('js/jquery-3.5.1.min.js') %>
</body>
</html>